{% extends 'base.html' %}
{% block content %}
<div class="container">
	<div class="row">
<a href="/media/video/bumla_army.mp4" class="btn btn-info btn-block btn-lg" role="button" target=_blank>Bumla Pass-Army Camp</a>
	</div>
	<div class="row">
<a href="/media/video/bumla_pass1.mp4" class="btn btn-info btn-block btn-lg" role="button" target=_blank>Bumla Pass View</a>
	</div>
	<div class="row">
<a href="/media/video/jung_sangpo.mp4" class="btn btn-info btn-block btn-lg" role="button" target=_blank>Jung WaterFall and Sangpo river</a>
	</div>
	<div class="row">
<a href="/media/video/jung_waterfall1.mp4" class="btn btn-info btn-block btn-lg" role="button" target=_blank>Jung WaterFall</a>
	</div>
	<div class="row">
<a href="/media/video/tawang_monastery.mp4" class="btn btn-info btn-block btn-lg" role="button" target=_blank>Tawang Monastery</a>
	</div>
</div>
{% endblock %}
